<div class="container box-info mt-5">
    <div class="row">


        <div class="col-md-5">
            <h1>{{spotifyArtist.body.name}}</h1>
            <img class="img-profile-artist" src="{{spotifyArtist.body.images.0.url}}" alt="">
            {{!-- <iframe src="{{body.external_url.spotify}}" frameborder="0"></iframe> --}}

        </div>
        <div class="col-md-7">
            {{!-- <iframe src="{{body.external_url.spotify}}" frameborder="0"></iframe> --}}
            <div id="embed-iframe">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/{{id}}" width="100%"
                    height="250" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, pariatur. Lorem ipsum dolor sit, amet
                consectetur adipisicing elit. Reprehenderit, sint. Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Rem, similique.</p>
            <a href="/event/add-new"><button>create event</button></a>
            <a href="/artist/{{artist.[0]._idSpotify}}/edit"><button>edit profile</button></a>

            <br>

            {{!-- {{#if isUser}} --}}
            <form action="/artist_/{{artistAux._id}}/follow" method="POST">
                <input type="text" class="form-control mt-3 form-box" style="display: none" id="id" name="id" value="{{artistAux.idSpotify}}">
                <button type="submit" class="user-signin-btn">Follow</button>
            </form>
            {{!-- {{/if}} --}}
        </div>

    </div>

</div>