<div class="container box-info mt-5">
    <div class="row">


        <div class="col-md-5">
            <h1 class="big-title syncopate">{{spotifyArtist.body.name}}</h1>
            <h6 class="big-title mb-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-patch-check" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                    <path
                        d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z" />
                </svg> Verificated artist</h6>
            <img class="img-profile-artist" src="{{spotifyArtist.body.images.0.url}}" alt="">

        </div>
        <div class="col-md-7 pt-5">
            {{!-- <div id="embed-iframe">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/{{id}}" width="100%"
                    height="250" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
                </iframe>
            </div> --}}

            <h4 class="big-title mt-5"><a class="big-title" style="text-decoration: none"
                    href="{{spotifyArtist.body.external_urls.spotify}}">See more on Spotify <svg
                        xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-spotify" viewBox="0 0 16 16">
                        <path
                            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.669 11.538a.498.498 0 0 1-.686.165c-1.879-1.147-4.243-1.407-7.028-.77a.499.499 0 0 1-.222-.973c3.048-.696 5.662-.397 7.77.892a.5.5 0 0 1 .166.686zm.979-2.178a.624.624 0 0 1-.858.205c-2.15-1.321-5.428-1.704-7.972-.932a.625.625 0 0 1-.362-1.194c2.905-.881 6.517-.454 8.986 1.063a.624.624 0 0 1 .206.858zm.084-2.268C10.154 5.56 5.9 5.419 3.438 6.166a.748.748 0 1 1-.434-1.432c2.825-.857 7.523-.692 10.492 1.07a.747.747 0 1 1-.764 1.288z" />
                    </svg></a>
            </h4>

            {{#if isUser}}
            <h6{{artistAux.idSpotify}}>
                </h6>
                <form action="/artist_/{{artistAux._id}}/follow" method="POST">
                    <input type="text" class="form-control mt-3 form-box" style="display: none" id="id" name="id"
                        value="{{artistAux.idSpotify}}">
                    <button type="submit" class="user-signin-btn">Follow</button>
                </form>
                {{/if}}

                {{#if isSelfArtist}}
                <a href="/event/add-new"><button type="submit" class="user-signin-btn">create a new event</button></a>
                <a href="/artist/{{artistAux.idSpotify}}/edit"><button type="submit" class="user-signin-btn">edit
                        profile</button></a>
                {{/if}}

                {{#if isAdmin}}
                <form action="/artist/{{artistAux.idSpotify}}/delete" method="POST">
                    <input type="text" class="form-control mt-3 form-box" style="display: none" id="id" name="id"
                        value="{{artistAux._id}}">
                    <button type="submit" class="user-signin-btn">Delete</button>
                </form>

                {{/if}}

                <hr>
                <h4>Genres</h4>
                <div class="row" style="display: flex">
                    {{#each spotifyArtist.body.genres}}
                    <div class="col-md-2 genres-btn mb-3 center-all">{{this}} </div>
                    {{/each}}
                </div>

        </div>

    </div>

</div>