<div class="container box-info-user mt-5">

    <div class="row">
        <div class="col-md-6">
            <p><strong>NAME</strong><br>{{name}}</p>
            <p><strong>USERNAME</strong><br>{{username}}</p><br>
            <p><strong>FAVORITE GENRES</strong></p>
            {{#each favoriteGenres}}
            <span>{{this}} </span>
            {{/each}}
            <br><br>
            <p><strong>CITY</strong><br>{{city}}</p>
            <p><strong>FRIENDS</strong><br>{{friends}}</p>
        </div>
        <div class="col-md-6">
            <img class="img-profile-user" src="{{image}}" alt="">
        </div>
        <a href="/user/{{_id}}/edit"><button>edit profile</button></a>
        <a href="#"><button>follow</button></a>


    </div>

</div>