<div class="container box-info-edit mt-2">
    <div class="row ">
        <div class="mt-5 col-md-6">
            <h1 class="mb-5 big-title syncopate">edit your profile</h1>
            <figure>
                <div class="center-horizontally">
                    <img class="rounded-circle profile-border" src="{{user.image}}"
                        style="width: 250px; height: 250px; object-fit: cover;" />
                    <label for="cover" class="form-label pen-edit-picture"><svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path
                                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                        </svg></label>
                </div>
            </figure>
        </div>
        <div class="mt-5 pt-5 col-md-5">
            <form action="/user/{{user._id}}/edit" method="POST" enctype="multipart/form-data">
                <div class="mb-4">
                    <label for="name" class="form-label form-label-white">Name</label>
                    <input type="text" class="form-control form-box" id="name" name="name" placeholder="{{user.name}}" value="{{user.name}}">
                </div>
                <div class="mb-4">
                    <label for="lastname" class="form-label form-label-white">Last name</label>
                    <input type="text" class="form-control form-box" id="lastname" name="lastname" placeholder="{{user.lastname}}" value="{{user.lastname}}">
                </div>
                <div class="mb-4">
                    <label for="city" class="form-label form-label-white">City</label>
                    <input type="text" class="form-control form-box" id="city" name="city" placeholder="{{user.city}}" value="{{user.city}}">
                </div>
                <div class="mb-3">
                    <label for="favoriteGenres" class="form-label form-label-white">Favorite genres</label>
                    <select class="form-select" name="favoriteGenres" id="favoriteGenres" value="{{favoriteGenres}}"
                        multiple>

                        {{#each genres}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}

                    </select>
                    <div class="mb-3">
                        <input class="form-control" type="file" id="cover" name="image" style="display: none">
                    </div>
            </form>
            
            <button type="submit" class="btn btn-primary user-signin-btn">Save changes</button>
            <form action="/user/{{user._id}}/delete" method="POST">
                <button type="submit" class="btn btn-primary user-signin-btn">Delete</button>
            </form>

        </div>
    </div>
</div>